<%= form_for(@clique) do |f| %>
  <% if @clique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clique.errors.count, "error") %> prohibited this clique from being saved:</h2>

      <ul>
      <% @clique.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if controller.action_name == 'new' %>
    <% @clique.owner_id = current_user.id %>
    <input name="clique[owner_id]" type="hidden" value=<%= current_user.id %> >
  <% end %>

  <h3>Name</h3>
  <p><%= f.text_field :name %></p>

  <h3>Territory</h3>
  <p><%= f.text_field :territory %></p>

  <h3>Description</h3>
  <p><%= f.text_area :description %></p>

  <% if @clique.has_totem? %>
    <h3>Totem</h3>
    <p><%= f.text_area :totem %></p>
  <% end %>

  <h3>Chronicle</h3>
  <p><%= f.select :chronicle_id, options_from_collection_for_select(@chronicle_list, 'id', 'name', @clique.chronicle.id) %></p>
  <%= f.check_box :write %> <%= f.label :write %>
  <br />
  
  <%= f.submit 'Save' %>
<% end %>
