<%= form_for(@clique) do |f| %>
  <% if @clique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clique.errors.count, "error") %> prohibited this clique from being saved:</h2>

      <ul>
      <% @clique.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if controller.action_name == 'new' %>
    <% @clique.user_id = session[:user_id] %>
    <input name="clique[user_id]" type="hidden" value=<%= session[:user_id] %> >
  <% end %>

  <h3>Name</h3>
  <p><%= f.text_field :name %></p>

  <h3>Territory</h3>
  <p><%= f.text_field :territory %></p>

  <h3>Description</h3>
  <p><%= f.text_area :description %></p>
  <%= f.check_box :write %> <%= f.label :write %>
  <br />
  
  <%= f.submit 'Save' %>
<% end %>
