<p>
  <h3>Name</h3>
  <p><%= @clique.name %></p>
</p>

<p>
  <h3>Territory</h3>
  <p><%= @clique.territory %></p>
</p>

<p>
  <h3>Description</h3>
  <p><%= simple_format @clique.description %></p>
</p>

<p>
<table>
  <tr>
    <th>Member</th>
    <th>Ideology</th>
  </tr>
  <%= render(:partial => "member", :collection => @clique.characters) %>
</table>
</p>

<% if @clique.has_totem? %>
  <p>
    <h3>Totem</h3>
    <p><%= simple_format(@clique.totem) %></p>
  </p>
<% end %>



<%= link_to('New member', new_character_path(:clique_id => @clique.id)) + " | " %>
<%= link_to('Edit', edit_clique_path(@clique)) + " | " if can? :edit, @clique %>
<%= link_to 'Destroy', @clique, :confirm => 'Are you sure you want to delete this clique?', :method => :delete if can? :destroy, @clique %>
