<p>
  <h5>Name</h5>
  <p><%= @clique.name %></p>
</p>

<p>
  <h5>Territory</h5>
  <p><%= @clique.territory %></p>
</p>

<p>
  <h5>Description</h5>
  <p><%= simple_format @clique.description %></p>
</p>

<p>
<table class='list'>
  <tr>
    <th></th>
    <th>Member</th>
    <th>Concept</th>
    <th>Ideology</th>
    <th></th>
  </tr>
  <%= render(:partial => "member", :collection => @clique.characters) %>
</table>
</p>

<% if @clique.has_totem? %>
  <p>
    <h5>Totem</h5>
    <p><%= simple_format(@clique.totem) %></p>
  </p>
<% end %>



<%= link_to('New member', new_chronicle_character_path(:clique_id => @clique.id, :chronicle_id => @clique.chronicle_id)) %>
<% if can? :edit, @clique %>
  | <%= link_to('Edit', edit_chronicle_clique_path(@clique)) %>
<% end %>
<% if can? :destroy, @clique %>
  | <%= link_to('Destroy', {:id => @clique, :chronicle_id => @clique.chronicle}, :confirm => 'Are you sure you want to delete this clique?', :method => :delete) %>
<% end %>
