<% if known_clique?(@clique) %>
	<p>
	  <b>Name:</b>
	  <%=h @clique.name %>
	</p>

	<p>
		<b>Territory:</b>
		<%=h @clique.territory %>
	</p>

	<p>
	  <b>Description:</b>
	  <%=h @clique.description %>
	</p>

	<table>
		<tr>
			<th>Member:</th>
			<th>Ideology:</th>
		</tr>

		<%= render(:partial => "member", :collection => @clique.characters) %>
	</table>


	<%= link_to 'New member', { :controller => 'characters', :action => 'new', :clique_id => @clique.id } %><br />
	<%= link_to 'Back', cliques_path %>
	<%= link_to 'Edit', edit_clique_path(@clique) if edit_clique?(@clique) %>
	<%= link_to 'Destroy', @clique, :confirm => 'Are you sure you want to delete this clique?', :method => :delete if edit_clique?(@clique) %>
<% else %>
	<% flash[:notice] = "You can't see this clique" %>
<% end %>