<%= form_tag do %>
  <div>
    <%= label_tag :username, "User name" %>
    <%= text_field_tag :username, params[:username] %>
  </div>
  
  <div id="navbar">
    <%= link_to "Cancel", {:action => "login"}, :class => "button" %>
    <%= submit_tag "Send email" %>
  </div>
<% end %>
