<%= form_tag do %>
  <h3>Please Log In</h3>
  
  <div>
    <label for="name" class="sized">Name:</label>
    <%= text_field_tag :name, params[:name] %>
  </div>
  
  <div>
    <label for="password" class="sized">Password:</label>
    <%= password_field_tag :password, params[:password] %>
  </div>
  
  <div id="navbar">
    <%= submit_tag "Login" %>
    <span><%= link_to "New User", new_user_path, :class => "button" %></span>
  </div>
<% end %>
