<%= form_for(@user, :url => {:controller => "admin", :action => "reset_password", :reset_code => @reset_code}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :password, 'Password', :class => "sized" %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, 'Confirm', :class => "sized" %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <%= f.submit 'Save' %>
<% end %>
