<%= form_for(@ideology) do |f| %>
  <% if @ideology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ideology.errors.count, "error") %> prohibited this ideology from being saved:</h2>

      <ul>
      <% @ideology.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Name</h4>
  <p><%= f.text_field :name %></p>

  <h4>Template</h4>
  <p><%= select_tag :splat_id, options_from_collection_for_select(@splat_list, 'id', 'name', @ideology.splat) %></p>
  <%= f.submit 'Save' %>
<% end %>
