<%= form_for(@ideology) do |f| %>
  <%= f.error_messages %>

  <h3>Name</h3>
  <p><%= f.text_field :name %></p>

  <div id="navbar">
    <%= link_to "Cancel", :back, :class => "button" %>
    <%= f.submit 'Save' %>
  </div>
<% end %>
