<p>
    <h3>Name</h3>
    <%= @ideology.name %>
</p>

<p>
  <table>
    <tr>
      <th>Member</th>
      <th><%= @ideology.splat.clique_name %></th>
    </tr>

    <%= render(:partial => "member", :collection => @ideology.characters) %>
  </table>
</p>


<%= link_to('New member', new_character_path(:ideology_id => @ideology.id)) + " | " %>
<%= link_to('Edit', edit_ideology_path(@ideology)) + " | " if @ideology.can_edit_as_user?(current_user) %>
<%= link_to 'Destroy', @ideology, :confirm => 'Are you sure you want to delete this ideology?', :method => :delete if @ideology.can_destroy_as_user?(current_user) %>
