<p>
    <h3>Name</h3>
    <%= @ideology.name %>
</p>

<p>
  <table>
    <tr>
      <th>Member</th>
      <th><%= @ideology.splat.clique_name %></th>
    </tr>

    <%= render(:partial => "member", :collection => @ideology.characters) %>
  </table>
</p>


<%= link_to('New member', new_character_path(:ideology_id => @ideology.id)) + " | " if can? :create, Character %>
<%= link_to('Edit', edit_ideology_path(@ideology)) + " | " if can? :edit, @ideology %>
<%= link_to 'Destroy', @ideology, :confirm => 'Are you sure you want to delete this ideology?', :method => :delete if can? :destroy, @ideology %>
