<% if known_ideology?(@ideology) %>
	<h3><%=h @ideology.name %></h3>

	<table>
		<tr>
			<th>Member:</th>
			<th><%=h @ideology.splat.clique_name %>:</th>
		</tr>

		<%= render(:partial => "member", :collection => @ideology.characters) %>
	</table><br />

	<%= link_to 'New member', { :controller => 'characters', :action => 'new', :ideology_id => @ideology } %><br />
	<%= link_to 'Back', ideologies_path %>
<% else %>
	<% flash[:notice] = "This is a secret ideology!" %>
<% end %>
