<% if known_ideology?(@ideology) %>
<p>
  <fieldset>
  <legend>Name:</legend>
  <%=h @ideology.name %>
  </fieldset>
</p>

<p>
<fieldset>
	<table>
		<tr>
			<th>Member:</th>
			<th><%=h @ideology.splat.clique_name %>:</th>
		</tr>

		<%= render(:partial => "member", :collection => @ideology.characters) %>
	</table>
</fieldset>
</p>

	<%= link_to 'New member', { :controller => 'characters', :action => 'new', :ideology_id => @ideology } %><br />
	<%= link_to 'Back', ideologies_path %>
<% else %>
	<% flash[:notice] = "This is a secret ideology!" %>
<% end %>
