<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @user.id == User.find_by_name("Storyteller").id %>
    <div>
      <%= f.label :name, 'Name', :class => "sized" %>
      <%= f.text_field :name %>
    </div>
  <% end %>

  <div>
  	<%= f.label :email_address, 'Email', :class => "sized" %>
    <%= f.text_field :email_address %>
  </div>
  
  <div>
    <%= f.label :password, 'Password', :class => "sized" %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, 'Confirm', :class => "sized" %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <%= f.submit 'Save' %>
<% end %>
