<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, 'Name', :class => "sized" %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :password, 'Password', :class => "sized" %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, 'Confirm', :class => "sized" %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div id="navbar">
    <%= link_to "Cancel", :back, :class => "button" %>
    <%= f.submit 'Save' %>
  </div>
<% end %>
