<% form_for(@user) do |f| %>
  <%= f.error_messages %>

	<p>
	<fieldset>
		<legend><%= f.label :name %></legend>
		<p><%= f.text_field :name %></p>
	</fieldset>
	</p>
	
	<div>
		<%= f.label :password, 'Password' %>
		<%= f.password_field :password, :size => 40 %>
	</div>
	
	<div>
		<%= f.label :password_confirmation, 'Confirm' %>
		<%= f.password_field :password_confirmation, :size => 40 %>
	</div>
	
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
