<%= form_for(@user) do |f| %>
  <%= f.error_messages %>
  <div>
    <%= f.label :name, 'Name', :class => "sized" %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :password, 'Password', :class => "sized" %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, 'Confirm', :class => "sized" %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div id="navbar">
    <%= link_to "Cancel", :back, :class => "button" %>
    <%= f.submit 'Save' %>
  </div>
<% end %>
