<h4 class='<%= @character.splat.name.downcase %>'>Comments</h3>
<% @character.comments.each do |c| %>
    <p><b><%= c.speaker %></b></p>
    <p><%= simple_format(c.body) %></p>
    <%= link_to 'Delete Comment', chronicle_character_comment_path(@character.chronicle, @character, c), :confirm => 'Are you sure?', :method => :delete if can? :destroy, c %>
    <hr />
<% end %>
<%= link_to 'Add Comment', new_chronicle_character_comment_path(@character.chronicle, @character) %>

