<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Clique</th>
    <th>Ideology</th>
    <th></th>
  </tr>

  <% @characters.each do |character| %>
    <tr>
      <td><%= link_to image_tag("edit.png"), edit_character_path(character) if character.can_edit_as_user?(session[:user_id]) %></td>
      <td><%= link_to character.name, character %></td>
      <td><%= link_to character.clique.name, character.clique if character.show_clique_to_user?(session[:user_id]) %></td>
      <td><%= link_to character.ideology.name, character.ideology if character.show_clique_to_user?(session[:user_id]) %></td>
      <td><%= link_to image_tag("delete.png"), character, :confirm => 'Are you sure you want to delete this character?', :method => :delete if character.can_destroy_as_user?(session[:user_id]) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New character', new_character_path %><br />
