<table class="four_cells">
  <tr>
    <td><b>Name</b></td>
    <td colspan=3><%= @character.name %></td>
  </tr>
  <tr>
    <td><b>Concept</b></td>
    <td colspan=3><%= @character.concept %></td>
  </tr>
  <tr>
    <td><span id="clique_label"><b><%= @character.splat.clique_name if can? :read_clique, @character %></b></span></td>
    <td><span id="clique_name">
		<%= if @character.clique.name == "Solitary"
			@character.clique.name
		else
			link_to @character.clique.name, chronicle_clique_path(@character.chronicle, @character.clique) if can? :read_clique, @character
		end %>
	</span></td>
	<% unless @character.is_spirit? %>
	    <td><span id="nature_label"><b><%= @character.splat.nature_name if can? :read_nature, @character %></b></span></td>
	    <td><span id="nature_name"><%= link_to @character.nature.name, @character.nature if can? :read_nature, @character %></span></td>
	<% end %>
  </tr>
  <tr>
    <td><b>Virtue</b></td>
    <td ><span id="virtue"><%= @character.virtue %></span></td>
	<% unless @character.is_spirit? %>
	    <td><span id="subnature_label"><b><%= @character.splat.subnature_name if (@character.is_changeling? or @character.is_mummy?) and can? :read_nature, @character %></b></span></td>
	    <td><span id="subnature_name"><%= @character.subnature.name if (@character.is_changeling? or @character.is_mummy?) and can? :read_nature, @character %></span></td>
	<% end %>
  </tr>
  <tr>
    <td><b>Vice</b></td>
    <td><span id="vice"><%= @character.vice.gsub(/\ /, " and ") %></span></td>
	<% unless @character.is_spirit? %>
	    <td><span id="ideology_label"><b><%= @character.splat.ideology_name if can? :read_idology, @character %></b></span></td>
	    <td><span id="ideology_name"><%= link_to @character.ideology.name, @character.ideology if can? :read_idology, @character %></span></td>
	<% end %>
  </tr>
  <tr id='primary_vice'>
    <% if @character.is_possessed? and can? :read_crunch, @character %>
      <td><b>Primary Vice</b></td>
      <td><%= @character.primary_vice %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
</table>

<% if can? :read_description, @character %>
  <div id="description">
    <h5 class="<%= @character.splat.name.downcase %>">Description</h5>
    <%= simple_format(@character.description) %>
  </div>
<% end %>

<% if can? :read_background, @character %>
  <div id="background">
    <h5 class="<%= @character.splat.name.downcase %>">Background</h5>
    <%= simple_format(@character.background) %>
  </div>
<% end %>

<% if can? :read_deeds, @character %>
  <div id="deeds">
    <h5 class="<%= @character.splat.name.downcase %>">Deeds</h5>
    <%= simple_format(@character.deeds) %>
  </div>
<% end %>

<% if can? :read_crunch, @character %>
  <div id="attributes">
    <h5 class="<%= @character.splat.name.downcase %>">Attributes</h5>
	<% if @character.is_spirit? %>
      <table class="three_cells">
        <tr>
          <td class='dots_label'>Power:</td>
		  <td class='dots_number'><%= dot_format(@character.power) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Finesse:</td>
		  <td class='dots_number'><%= dot_format(@character.finesse) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Resistance:</td>
		  <td class='dots_number'><%= dot_format(@character.resistance) %></td>
        </tr>
      <table>
	<% else %>
	    <table class="six_cells">
	      <tr>
	        <td class='dots_label'>Intelligence:</td>
	        <td class='dots_number'><%= dot_format(@character.intelligence) %></td>
	        <td class='dots_label'>Strength:</td>
	        <td id="strength" class='dots_number'><%= dot_format(@character.strength) %></td>
	        <td class='dots_label'>Presence:</td>
	        <td class='dots_number'><%= dot_format(@character.presence) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label'>Wits:</td>
	        <td class='dots_number'><%= dot_format(@character.wits) %></td>
	        <td class='dots_label'>Dexterity:</td>
	        <td id="dexterity" class='dots_number'><%= dot_format(@character.dexterity) %></td>
	        <td class='dots_label'>Manipulation:</td>
	        <td id="manipulation" class='dots_number'><%= dot_format(@character.manipulation) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label'>Resolve:</td>
	        <td class='dots_number'><%= dot_format(@character.resolve) %></td>
	        <td class='dots_label'>Stamina:</td>
	        <td id="stamina" class='dots_number'><%= dot_format(@character.stamina) %></td>
	        <td class='dots_label'>Composure:</td>
	        <td class='dots_number'><%= dot_format(@character.composure) %></td>
	      </tr>
	    </table>
	<% end %>
  </div>

  <% unless @character.is_spirit? %>
	  <div id="skills">
	    <h5 class="<%= @character.splat.name.downcase %>">Skills</h5>
	    <table class="six_cells">
	      <tr>
	        <td class='dots_label mental'>Academics:</td>
	        <td class='dots_number'><%= dot_format(@character.academics) %></td>
	        <td class='dots_label'>Athletics:</td>
	        <td class='dots_number'><%= dot_format(@character.athletics) %></td>
	        <td class='dots_label'>Animal Ken:</td>
	        <td class='dots_number'><%= dot_format(@character.animal_ken) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label mental'>Computer:</td>
	        <td class='dots_number'><%= dot_format(@character.computer) %></td>
	        <td class='dots_label'>Brawl:</td>
	        <td class='dots_number'><%= dot_format(@character.brawl) %></td>
	        <td class='dots_label'>Empathy:</td>
	        <td class='dots_number'><%= dot_format(@character.empathy) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label mental'>Crafts:</td>
	        <td class='dots_number'><%= dot_format(@character.crafts) %></td>
	        <td class='dots_label'>Drive:</td>
	        <td class='dots_number'><%= dot_format(@character.drive) %></td>
	        <td class='dots_label'>Expression:</td>
	        <td class='dots_number'><%= dot_format(@character.expression) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label mental'>Investigation:</td>
	        <td class='dots_number'><%= dot_format(@character.investigation) %></td>
	        <td class='dots_label'>Firearms:</td>
	        <td class='dots_number'><%= dot_format(@character.firearms) %></td>
	        <td class='dots_label'>Intimidation:</td>
	        <td class='dots_number'><%= dot_format(@character.intimidation) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label mental'>Medicine:</td>
	        <td class='dots_number'><%= dot_format(@character.medicine) %></td>
	        <td class='dots_label'>Larceny:</td>
	        <td class='dots_number'><%= dot_format(@character.larceny) %></td>
	        <td class='dots_label'>Persuasion:</td>
	        <td class='dots_number'><%= dot_format(@character.persuasion) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label mental'>Occult:</td>
	        <td class='dots_number'><%= dot_format(@character.occult) %></td>
	        <td class='dots_label'>Stealth:</td>
	        <td class='dots_number'><%= dot_format(@character.stealth) %></td>
	        <td class='dots_label'>Socialize:</td>
	        <td class='dots_number'><%= dot_format(@character.socialize) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label mental'>Politics:</td>
	        <td class='dots_number'><%= dot_format(@character.politics) %></td>
	        <td class='dots_label'>Survival:</td>
	        <td class='dots_number'><%= dot_format(@character.survival) %></td>
	        <td class='dots_label'>Streetwise:</td>
	        <td class='dots_number'><%= dot_format(@character.streetwise) %></td>
	      </tr>
	      <tr>
	        <td class='dots_label mental'>Science:</td>
	        <td class='dots_number'><%= dot_format(@character.science) %></td>
	        <td class='dots_label'>Weaponry:</td>
	        <td class='dots_number'><%= dot_format(@character.weaponry) %></td>
	        <td class='dots_label'>Subterfuge:</td>
	        <td class='dots_number'><%= dot_format(@character.subterfuge) %></td>
	      </tr>
	      <tr>
	        <td>Skill Specialties:</td>
	        <td colspan=5><%= simple_format(@character.skill_specialties) %></td>
	      </tr>
	    </table>
	  </div>
  <% end %>

  <div id="advantages">    
    <h5 class="<%= @character.splat.name.downcase %>">Advantages</h5>
    <table class="four_cells">
      <tr>
        <td><%= @character.is_spirit? ? "Corpus" : "Health" %>:</td>
        <td id="health"><%= dot_format(@character.health) %></td>
        <td>Willpower:</td>
        <td id="willpower"><%= dot_format(@character.willpower) %></td>
      </tr>
      <tr>
        <% if can? :edit, @character %>
        	<%= form_for([@character.chronicle, @character]) do |f| %>
            <td><%= f.label :current_health, @character.is_spirit? ? "Current Corpus" : "Current Health" %></td>
            <td><%= f.text_field :current_health, :remote => true, :action => url_for(:action => :save_current, :id => @character.id), :method => "put" %></td>
            <td><%= f.label :current_willpower, "Current Willpower:" %></td>
            <td><%= f.text_field :current_willpower, :remote => true, :action => url_for(:action => :save_current, :id => @character.id), :method => "put" %></td>
          <% end %>
        <% else %>
          <td>Current <%= @character.is_spirit? ? "Corpus" : "Health" %>:</td>
          <td><%= @character.current_health %></td>
          <td>Current Willpower:</td>
          <td><%= @character.current_willpower %></td>
        <% end %>
      </tr>
      <tr>
        <td>Size:</td>
        <td id="size"><%= @character.size %></td>
        <% if @character.is_possessed? %>
          <td>Infernal Will:</td>
          <td id="infernal_will"><%= dot_format(@character.max_infernal_will) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Initiative:</td>
        <td id="initiative"><%= @character.initiative %></td>
        <% if can? :edit, @character %>
          <%= form_for([@character.chronicle, @character]) do |f| %>
            <td><%= f.label :current_infernal_will, "Current Infernal Will:" %></td>
            <td><%= f.text_field :current_infernal_will, :remote => true, :action => url_for(:action => :save_current, :id => @character.id), :method => "put" %></td>
          <% end %>
        <% else %>
          <td>Current Infernal Will:</td>
          <td><%= @character.current_infernal_will %></td>
        <% end if @character.is_possessed? %>
      </tr>
      <tr>
        <td>Speed:</td>
        <td id="speed"><%= @character.speed %></td>
        <td>Derangements:</td>
      </tr>
      <tr>
        <td>Defense:</td>
        <td id="defense"><%= @character.defense %></td>
        <td rowspan="10" colspan="2"><%= simple_format(@character.derangements) %></td>
      </tr>
      <tr>
        <td>Armor:</td>
        <td id="armor"><%= @character.armor %></td>
      </tr>
      <tr>
        <td class='dots_label'><%= @character.splat.morality_name %>:</td>
        <td class='dots_number'><%= dot_format(@character.morality) %></td>
      </tr>
      <% unless @character.is_mortal? %>
      <tr>
        <td class='dots_label'><%= @character.splat.power_stat_name %>:</td>
        <td class='dots_number'><%= dot_format(@character.power_stat) %></td>
      </tr>
      <% unless @character.is_mummy? %>
	    <tr>
	      <td>Max <%= @character.splat.fuel_name %>:</td>
	      <td><%= @character.max_fuel %></td>
	    </tr>
	    <tr>
	      <% if can? :edit, @character %>
	        <%= form_for([@character.chronicle, @character]) do |f| %>
	          <td><%= f.label :current_fuel, "Current #{@character.splat.fuel_name}:" %></td>
	          <td><%= f.text_field :current_fuel, :class => "number", :remote => true, :action => url_for(:action => "save_current", :id => @character.id), :method => "put" %></td>
	        <% end %>
          <% else %>
            <td>Current <%= @character.splat.fuel_name %>:</td>
            <td><%= @character.current_fuel %></td>
		  <% end %>
        </tr>
      <% end %>
      <tr>
      </tr>
      <% end %>
    </table>
  </div>

  <% unless @character.is_spirit? %>
    <div id="merits"> 
      <h5 class="<%= @character.splat.name.downcase %>">Merits</h5>
      <%= simple_format(@character.merits) %>
    </div>

    <div id="equipment">
      <h5 class="<%= @character.splat.name.downcase %>">Equipment</h5>
      <%= simple_format(@character.equipment) %>
    </div>
  <% end %>

  <div id="powers">
    <% if @character.is_mage? %>
      <h5 class="<%= @character.splat.name.downcase %>">Arcana</h5>
      <table class="three_cells">
        <tr>
          <td class='dots_label'>Death:</td>
          <td class='dots_number'><%= dot_format(@character.death) %></td>
          <td>Common Spells</td>
        </tr>
        <tr>
          <td class='dots_label'>Fate:</td>
          <td class='dots_number'><%= dot_format(@character.fate) %></td>
          <td rowspan="10"><%= simple_format(@character.common_spells) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Forces:</td>
          <td class='dots_number'><%= dot_format(@character.forces) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Life:</td>
          <td class='dots_number'><%= dot_format(@character.life) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Matter:</td>
          <td class='dots_number'><%= dot_format(@character.matter) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Mind:</td>
          <td class='dots_number'><%= dot_format(@character.mind) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Prime:</td>
          <td class='dots_number'><%= dot_format(@character.prime) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Space:</td>
          <td class='dots_number'><%= dot_format(@character.space) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Spirit:</td>
          <td class='dots_number'><%= dot_format(@character.spirit) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Time:</td>
          <td class='dots_number'><%= dot_format(@character.time) %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>
  
    <% if @character.is_werewolf? %>
      <h5 class="<%= @character.splat.name.downcase %>">Forms</h5>
        <table id="woof_forms" class="five_cells">
          <tr>
	    <th><%= link_to "Hishu", shapeshift_chronicle_character_path(:form => "hishu"), :remote => true, :class => "selected" %></th>
	    <th><%= link_to "Dalu", shapeshift_chronicle_character_path(:form => "dalu"), :remote => true %></th>
	    <th><%= link_to "Gauru", shapeshift_chronicle_character_path(:form => "gauru"), :remote => true %></th>
	    <th><%= link_to "Urshul", shapeshift_chronicle_character_path(:form => "urshul"), :remote => true %></th>
	    <th><%= link_to "Urhan", shapeshift_chronicle_character_path(:form => "urhan"), :remote => true %></th>
          </tr>
          <tr>
            <td></td>
            <td>Perception: +2</td>
            <td>Perception: +3</td>
            <td>Perception: +3</td>
            <td>Perception: +4</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>+2L bite</td>
            <td>+2L bite</td>
            <td>+2L bite</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>+1L claws</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Rage invoked</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      <h5 class="<%= @character.splat.name.downcase %>">Renown</h5>
      <table class="three_cells">
        <tr>
          <td class='dots_label'>Purity:</td>
          <td class='dots_number'><%= dot_format(@character.purity) %></td>
          <td>Gifts</td>
        </tr>
        <tr>
          <td class='dots_label'>Glory:</td>
          <td class='dots_number'><%= dot_format(@character.glory) %></td>
          <td id="gifts" rowspan="5"><%= simple_format(@character.gifts) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Honor:</td>
          <td class='dots_number'><%= dot_format(@character.honor) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Wisdom:</td>
          <td class='dots_number'><%= dot_format(@character.wisdom) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Cunning:</td>
          <td class='dots_number'><%= dot_format(@character.cunning) %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>

    <% if @character.is_vampire? %>
      <h5 class="<%= @character.splat.name.downcase %>">Disciplines</h5>
      <table class="three_cells">
        <tr>
          <td class='dots_label'>Animalism</td>
          <td class='dots_number'><%= dot_format(@character.animalism) %></td>
          <td>Covenant Disciplines</td>
        </tr>
        <tr>
          <td class='dots_label'>Auspex</td>
          <td class='dots_number'><%= dot_format(@character.auspex) %></td>
          <td rowspan="9"><%= simple_format(@character.covenant_disciplines) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Celerity</td>
          <td class='dots_number'><%= dot_format(@character.celerity) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Dominate</td>
          <td class='dots_number'><%= dot_format(@character.dominate) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Majesty</td>
          <td class='dots_number'><%= dot_format(@character.majesty) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Nightmare</td>
          <td class='dots_number'><%= dot_format(@character.nightmare) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Obfuscate</td>
          <td class='dots_number'><%= dot_format(@character.obfuscate) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Protean</td>
          <td class='dots_number'><%= dot_format(@character.protean) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Resilience</td>
          <td class='dots_number'><%= dot_format(@character.resilience) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Vigor</td>
          <td class='dots_number'><%= dot_format(@character.vigor) %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>

    <% if @character.is_promethean? %>
      <h5 class="<%= @character.splat.name.downcase %>">Transmutations</h5>
      <%= simple_format(@character.transmutations) %>
    <% end %>

    <% if @character.is_changeling? %>
      <h5 class="<%= @character.splat.name.downcase %>">Contracts</h5>
      <table class="three_cells">
                          <tr>
          <td class='dots_label'>Dream</td>
          <td class='dots_number'><%= dot_format(@character.dream) %></td>
          <td>Goblin Contracts</td>
        </tr>
        <tr>
          <td class='dots_label'>Hearth</td>
          <td class='dots_number'><%= dot_format(@character.hearth) %></td>
          <td rowspan="19"><%= simple_format(@character.goblin_contracts) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Mirror</td>
          <td class='dots_number'><%= dot_format(@character.mirror) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Smoke</td>
          <td class='dots_number'><%= dot_format(@character.smoke) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Artifice</td>
          <td class='dots_number'><%= dot_format(@character.artifice) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Darkness</td>
          <td class='dots_number'><%= dot_format(@character.darkness) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Elements</td>
          <td class='dots_number'><%= dot_format(@character.elements) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Fang and Tooth</td>
          <td class='dots_number'><%= dot_format(@character.fang_and_tooth) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Stone</td>
          <td class='dots_number'><%= dot_format(@character.stone) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Vainglory</td>
          <td class='dots_number'><%= dot_format(@character.vainglory) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Fleeting Spring</td>
          <td class='dots_number'><%= dot_format(@character.fleeting_spring) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Eternal Spring</td>
          <td class='dots_number'><%= dot_format(@character.eternal_spring) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Fleeting Summer</td>
          <td class='dots_number'><%= dot_format(@character.fleeting_summer) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Eternal Summer</td>
          <td class='dots_number'><%= dot_format(@character.eternal_summer) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Eternal Summer</td>
          <td class='dots_number'><%= dot_format(@character.eternal_summer) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Fleeting Autumn</td>
          <td class='dots_number'><%= dot_format(@character.fleeting_autumn) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Eternal Autumn</td>
          <td class='dots_number'><%= dot_format(@character.eternal_autumn) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Fleeting Winter</td>
          <td class='dots_number'><%= dot_format(@character.fleeting_winter) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Eternal Winter</td>
          <td class='dots_number'><%= dot_format(@character.eternal_winter) %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>
    
    <% if @character.is_hunter? %>
      <h5 class="<%= @character.splat.name.downcase %>">Tactics</h5>
      <%= simple_format(@character.tactics) %>
    <% end %>
    
    <% if @character.is_geist? %>
      <h5 class="<%= @character.splat.name.downcase %>">Manifestations</h5>
      <table class="three_cells">
        <tr>
          <td class='dots_label'>Boneyard</td>
          <td class='dots_number'><%= dot_format(@character.boneyard) %></td>
          <td>Keys</td>
        </tr>
        <tr>
          <td class='dots_label'>Caul</td>
          <td class='dots_number'><%= dot_format(@character.caul) %></td>
          <td rowspan="7"><%= simple_format(@character.keys) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Curse</td>
          <td class='dots_number'><%= dot_format(@character.curse) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Marionette</td>
          <td class='dots_number'><%= dot_format(@character.marionette) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Oracle</td>
          <td class='dots_number'><%= dot_format(@character.oracle) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Rage</td>
          <td class='dots_number'><%= dot_format(@character.rage) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Shroud</td>
          <td class='dots_number'><%= dot_format(@character.shroud) %></td>
        </tr>
        <tr>
        </tr>
      </table>
      
      <h5 class="<%= @character.splat.name.downcase %>">Ceremonies</h5>
      <p><%= simple_format(@character.ceremonies) %></p>
    <% end %>
    
    <% if @character.is_possessed? %>
      <h5 class="<%= @character.splat.name.downcase %>">Vestments</h5>
      <table class="three_cells">
        <tr>
          <td class='dots_label'>Envy</td>
          <td class='dots_number'><%= dot_format(@character.envy) %></td>
          <td>Vestments</td>
        </tr>
        <tr>
          <td class='dots_label'>Gluttony</td>
          <td class='dots_number'><%= dot_format(@character.gluttony) %></td>
          <td rowspan="7"><%= simple_format(@character.vestments) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Greed</td>
          <td class='dots_number'><%= dot_format(@character.greed) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Lust</td>
          <td class='dots_number'><%= dot_format(@character.lust) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Pride</td>
          <td class='dots_number'><%= dot_format(@character.pride) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Sloth</td>
          <td class='dots_number'><%= dot_format(@character.sloth) %></td>
        </tr>
        <tr>
          <td class='dots_label'>Wrath</td>
          <td class='dots_number'><%= dot_format(@character.wrath) %></td>
        </tr>
      </table>
    <% end %>
	
	<% if @character.is_spirit? %>
		<h5 class="<%= @character.splat.name.downcase %>">Influences</h5>
		<p><%= simple_format(@character.influences) %></p>

		<h5 class="<%= @character.splat.name.downcase %>">Numina</h5>
		<p><%= simple_format(@character.numina) %></p>
	<% end %>
	
	<% if @character.is_mummy? %>
		<h5 class="<%= @character.splat.name.downcase %>">Pillars</h5>
		<table class="four_cells">
			<tr>
				<td>Ab</td>
				<td><%= dot_format(@character.ab) %></td>
			</tr>
			<tr>
				<td></td>
				<td><%= @character.current_ab %></td>
			</tr>
			<tr>
				<td>Ba</td>
				<td><%= dot_format(@character.ba) %></td>
			</tr>
			<tr>
				<td></td>
				<td><%= @character.current_ba %></td>
			</tr>
			<tr>
				<td>Ka</td>
				<td><%= dot_format(@character.ka) %></td>
			</tr>
			<tr>
				<td></td>
				<td><%= @character.current_ka %></td>
			</tr>
			<tr>
				<td>Ren</td>
				<td><%= dot_format(@character.ren) %></td>
			</tr>
			<tr>
				<td></td>
				<td><%= @character.current_ren %></td>
			</tr>
			<tr>
				<td>Sheut</td>
				<td><%= dot_format(@character.sheut) %></td>
			</tr>
			<tr>
				<td></td>
				<td><%= @character.current_sheut %></td>
			</tr>
		</table>
		
		<h5 class="<%= @character.splat.name.downcase %>">Affinities</h5>
		<p><%= simple_format(@character.affinities) %></p>
		
		<h5 class="<%= @character.splat.name.downcase %>">Utterances</h5>
		<p><%= simple_format(@character.utterances) %></p>
	<% end %>
  </div>
<% end %>

<% if can? :read_experience, @character %>
  <div id="experience">
    <h5 class="<%= @character.splat.name.downcase %>">Experience</h5>
    <%= simple_format(@character.experience) %>
  </div>
<% end %>

<% if can? :read_notes, @character %>
  <div id="notes">
    <h5 class="<%= @character.splat.name.downcase %>">Notes</h5>
    <%= form_for([@character.chronicle, @character], :remote => true, :method => :put, :url => save_notes_chronicle_character_url) do |f| %>
      <%= f.text_area :notes %>
      <%= f.submit "Save notes", :id => "save_notes" if can? :edit, @character %>
    <% end %>
  </div>
<% end %>

<%= render :partial => 'comments' %><br />

<%= link_to("Toggle preview", preview_chronicle_character_path(@character.chronicle, @character), :remote => true) if can? :edit, @character %>
<% if can? :edit, @character %>
  | <%= link_to('Edit', edit_chronicle_character_path(@character.chronicle, @character)) %>
<% end %>
<% if can? :destroy, @character %>
  | <%= link_to('Destroy', {:chronicle_id => @character.chronicle, :id => @character}, :confirm => "Are you sure you want to delete #{@character.name}?", :method => :delete) %>
<% end %>
