<table class="four_cells">
  <tr>
    <td><b>Name</b></td>
    <td colspan=3><%= @character.name %></td>
  <tr>
    <td><b>Virtue</b></td>
    <td ><span id="virtue"><%= @character.virtue if @character.can_edit_as_user?(current_user.id) %></span></td>
  </tr>
  <tr>
    <td><b>Vice</b></td>
    <td><span id="vice"><%= @character.vice if @character.can_edit_as_user?(current_user.id) %></span></td>
    <td><span id="nature_label"><b><%= @character.splat.nature_name if @character.show_nature_to_user?(current_user.id) %></b></span></td>
    <td><span id="nature_name"><%= @character.nature.name if @character.show_nature_to_user?(current_user.id) %></span></td>
  </tr>
  <tr>
    <td><span id="clique_label"><b><%= @character.splat.clique_name if @character.show_clique_to_user?(current_user.id) %></b></span></td>
    <td><span id="clique_name"><%= link_to @character.clique.name, @character.clique if @character.show_clique_to_user?(current_user.id) %></span></td>
    <td><span id="subnature_label"><b><%= @character.splat.subnature_name if @character.splat.name == "Changeling" and @character.show_nature_to_user?(current_user.id) %></b></span></td>
    <td><span id="subnature_name"><%= @character.subnature.name if @character.splat.name == "Changeling" and @character.show_nature_to_user?(current_user.id) %></span></td>
  </tr>
  <tr>
    <td><b>Chronicle</b></td>
    <td><%= link_to @character.chronicle.name, @character.chronicle %></td>
    <td><span id="ideology_label"><b><%= @character.splat.ideology_name if @character.show_ideology_to_user?(current_user.id) %></b></span></td>
    <td><span id="ideology_name"><%= link_to @character.ideology.name, @character.ideology if @character.show_ideology_to_user?(current_user.id) %></span></td>
  </tr>
</table>

<% if @character.show_description_to_user?(current_user.id) %>
  <div id="description">
    <h3>Description</h3>
    <%= simple_format(@character.description) %>
  </div>
<% end %>

<% if @character.show_background_to_user?(current_user.id) %>
  <div id="background">
    <h3>Background</h3>
    <%= simple_format(@character.background) %>
  </div>
<% end %>

<% if @character.show_deeds_to_user?(current_user.id) %>
  <div id="deeds">
    <h3>Deeds</h3>
    <%= simple_format(@character.deeds) %>
  </div>
<% end %>

<% if @character.show_attributes_to_user?(current_user.id) %>
  <div id="attributes">
    <h3>Attributes</h3>
    <table class="six_cells">
      <tr>
        <td>Intelligence:</td>
        <td><%= @character.intelligence %></td>
        <td>Strength:</td>
        <td id="strength"><%= @character.strength %></td>
        <td>Presence:</td>
        <td><%= @character.presence %></td>
      </tr>
      <tr>
        <td>Wits:</td>
        <td><%= @character.wits %></td>
        <td>Dexterity:</td>
        <td id="dexterity"><%= @character.dexterity %></td>
        <td>Manipulation:</td>
        <td id="manipulation"><%= @character.manipulation %></td>
      </tr>
      <tr>
        <td>Resolve:</td>
        <td><%= @character.resolve %></td>
        <td>Stamina:</td>
        <td id="stamina"><%= @character.stamina %></td>
        <td>Composure:</td>
        <td><%= @character.composure %></td>
      </tr>
    </table>
  </div>
<% end %>

<% if @character.show_skills_to_user?(current_user.id) %>
  <div id="skills">
    <h3>Skills</h3>
    <table class="six_cells">
      <tr>
        <td>Academics:</td>
        <td><%= @character.academics %></td>
        <td>Athletics:</td>
        <td><%= @character.athletics %></td>
        <td>Animal Ken:</td>
        <td><%= @character.animal_ken %></td>
      </tr>
      <tr>
        <td>Computer:</td>
        <td><%= @character.computer %></td>
        <td>Brawl:</td>
        <td><%= @character.brawl %></td>
        <td>Empathy:</td>
        <td><%= @character.empathy %></td>
      </tr>
      <tr>
        <td>Crafts:</td>
        <td><%= @character.crafts %></td>
        <td>Drive:</td>
        <td><%= @character.drive %></td>
        <td>Expression:</td>
        <td><%= @character.expression %></td>
      </tr>
      <tr>
        <td>Investigation:</td>
        <td><%= @character.investigation %></td>
        <td>Firearms:</td>
        <td><%= @character.firearms %></td>
        <td>Intimidation:</td>
        <td><%= @character.intimidation %></td>
      </tr>
      <tr>
        <td>Medicine:</td>
        <td><%= @character.medicine %></td>
        <td>Larceny:</td>
        <td><%= @character.larceny %></td>
        <td>Persuasion:</td>
        <td><%= @character.persuasion %></td>
      </tr>
      <tr>
        <td>Occult:</td>
        <td><%= @character.occult %></td>
        <td>Stealth:</td>
        <td><%= @character.stealth %></td>
        <td>Socialize:</td>
        <td><%= @character.socialize %></td>
      </tr>
      <tr>
        <td>Politics:</td>
        <td><%= @character.politics %></td>
        <td>Survival:</td>
        <td><%= @character.survival %></td>
        <td>Streetwise:</td>
        <td><%= @character.streetwise %></td>
      </tr>
      <tr>
        <td>Science:</td>
        <td><%= @character.science %></td>
        <td>Weaponry:</td>
        <td><%= @character.weaponry %></td>
        <td>Subterfuge:</td>
        <td><%= @character.subterfuge %></td>
      </tr>
      <tr>
        <td>Skill Specialties:</td>
        <td colspan=5><%= simple_format(@character.skill_specialties) %></td>
      </tr>
    </table>
  </div>
<% end %>

<% if @character.show_advantages_to_user?(current_user.id) %>
  <div id="advantages">    
    <h3>Advantages</h3>
    <table class="four_cells">
      <tr>
        <td>Health:</td>
        <td id="health"><%= @character.health %></td>
        <td>Willpower:</td>
        <td id="willpower"><%= @character.willpower %></td>
      </tr>
      <tr>
	<%= form_for(@character) do |f| %>
          <td><%= f.label :current_health, "Current Health:" %></td>
          <td><%= f.text_field :current_health, :remote => true, :action => url_for(:action => "update", :id => @character.id), :method => "put" %></td>
          <td><%= f.label :current_willpower, "Current Willpower:" %></td>
          <td><%= f.text_field :current_willpower, :remote => true, :action => url_for(:action => "update", :id => @character.id), :method => "put" %></td>
        <% end %>
      </tr>
      <tr>
        <td>Size:</td>
        <td id="size"><%= @character.size %></td>
        <td>Derangements:</td>
      </tr>
      <tr>
        <td>Initiative:</td>
        <td id="initiative"><%= @character.initiative %></td>
        <td rowspan="10" colspan="2"><%= simple_format(@character.derangements) %></td>
      </tr>
      <tr>
        <td>Speed:</td>
        <td id="speed"><%= @character.speed %></td>
      </tr>
      <tr>
        <td>Defense:</td>
        <td id="defense"><%= @character.defense %></td>
      </tr>
      <tr>
        <td>Armor:</td>
        <td id="armor"><%= @character.armor %></td>
      </tr>
      <tr>
        <td><%= @character.splat.morality_name %>:</td>
        <td><%= @character.morality %></td>
      </tr>
      <% unless @character.is_mortal? %>
      <tr>
        <td><%= @character.splat.power_stat_name %>:</td>
        <td><%= @character.power_stat %></td>
      </tr>
      <tr>
        <td>Max <%= @character.splat.fuel_name %>:</td>
        <td><%= @character.max_fuel %></td>
      </tr>
      <tr>
        <%= form_for(@character) do |f| %>
          <td><%= f.label :current_fuel, "Current #{@character.splat.fuel_name}:" %></td>
          <td><%= f.text_field :current_fuel, :class => "number", :remote => true, :action => url_for(:action => "update", :id => @character.id), :method => "put" %></td>
        <% end %>
      </tr>
      <tr>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% if @character.show_merits_to_user?(current_user.id) %>
  <div id="merits">    
    <h3>Merits</h3>
    <%= simple_format(@character.merits) %>
  </div>
<% end %>

<% if @character.show_equipment_to_user?(current_user.id) %>
  <div id="equipment">
    <h3>Equipment</h3>
    <%= simple_format(@character.equipment) %>
  </div>
<% end %>

<% if @character.show_powers_to_user?(current_user.id) %>
  <div id="powers">
    <% if @character.is_mage? %>
      <h3>Arcana</h3>
      <table class="three_cells">
        <tr>
          <td>Death:</td>
          <td><%= @character.death %></td>
          <td>Common Spells</td>
        </tr>
        <tr>
          <td>Fate:</td>
          <td><%= @character.fate %></td>
          <td rowspan="10"><%= simple_format(@character.common_spells) %></td>
        </tr>
        <tr>
          <td>Forces:</td>
          <td><%= @character.forces %></td>
        </tr>
        <tr>
          <td>Life:</td>
          <td><%= @character.life %></td>
        </tr>
        <tr>
          <td>Matter:</td>
          <td><%= @character.matter %></td>
        </tr>
        <tr>
          <td>Mind:</td>
          <td><%= @character.mind %></td>
        </tr>
        <tr>
          <td>Prime:</td>
          <td><%= @character.prime %></td>
        </tr>
        <tr>
          <td>Space:</td>
          <td><%= @character.space %></td>
        </tr>
        <tr>
          <td>Spirit:</td>
          <td><%= @character.spirit %></td>
        </tr>
        <tr>
          <td>Time:</td>
          <td><%= @character.time %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>
  
    <% if @character.is_werewolf? %>
      <h3>Forms</h3>
        <table id="woof_forms" class="five_cells">
          <tr>
	    <th><%= link_to "Hishu", {:action => :shapeshift, :id => @character.id, :form => "hishu"}, :remote => true, :class => "selected" %></th>
	    <th><%= link_to "Dalu", {:action => :shapeshift, :id => @character.id, :form => "dalu"}, :remote => true %></th>
	    <th><%= link_to "Gauru", {:action => :shapeshift, :id => @character.id, :form => "gauru"}, :remote => true %></th>
	    <th><%= link_to "Urshul", {:action => :shapeshift, :id => @character.id, :form => "urshul"}, :remote => true %></th>
	    <th><%= link_to "Urhan", {:action => :shapeshift, :id => @character.id, :form => "urhan"}, :remote => true %></th>
          </tr>
          <tr>
            <td></td>
            <td>Perception: +2</td>
            <td>Perception: +3</td>
            <td>Perception: +3</td>
            <td>Perception: +4</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>+2L bite</td>
            <td>+2L bite</td>
            <td>+2L bite</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>+1L claws</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Rage invoked</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      <h3>Renown</h3>
      <table class="three_cells">
        <tr>
          <td>Purity:</td>
          <td><%= @character.purity %></td>
          <td>Gifts</td>
        </tr>
        <tr>
          <td>Glory:</td>
          <td><%= @character.glory %></td>
          <td id="gifts" rowspan="5"><%= simple_format(@character.gifts) %></td>
        </tr>
        <tr>
          <td>Honor:</td>
          <td><%= @character.honor %></td>
        </tr>
        <tr>
          <td>Wisdom:</td>
          <td><%= @character.wisdom %></td>
        </tr>
        <tr>
          <td>Cunning:</td>
          <td><%= @character.cunning %></td>
        </tr>
        <tr>
        </tr>
      </table>
      <h3>Totem</h3>
      <%= simple_format(@character.clique.totem)%>
    <% end %>

    <% if @character.is_vampire? %>
      <h3>Disciplines</h3>
      <table class="three_cells">
        <tr>
          <td>Animalism</td>
          <td><%= @character.animalism %></td>
          <td>Covenant Disciplines</td>
        </tr>
        <tr>
          <td>Auspex</td>
          <td><%= @character.auspex %></td>
          <td rowspan="8"><%= simple_format(@character.covenant_disciplines) %></td>
        </tr>
        <tr>
          <td>Dominate</td>
          <td><%= @character.dominate %></td>
        </tr>
        <tr>
          <td>Majesty</td>
          <td><%= @character.majesty %></td>
        </tr>
        <tr>
          <td>Nightmare</td>
          <td><%= @character.nightmare %></td>
        </tr>
        <tr>
          <td>Obfuscate</td>
          <td><%= @character.obfuscate %></td>
        </tr>
        <tr>
          <td>Protean</td>
          <td><%= @character.protean %></td>
        </tr>
        <tr>
          <td>Resilience</td>
          <td><%= @character.resilience %></td>
        </tr>
        <tr>
          <td>Vigor</td>
          <td><%= @character.vigor %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>

    <% if @character.is_promethean? %>
      <h3>Transmutations</h3>
      <%= simple_format(@character.transmutations) %>
    <% end %>

    <% if @character.is_changeling? %>
      <h3>Contracts</h3>
      <table class="three_cells">
                          <tr>
          <td>Dream</td>
          <td><%= @character.dream %></td>
          <td>Goblin Contracts</td>
        </tr>
        <tr>
          <td>Hearth</td>
          <td><%= @character.hearth %></td>
          <td rowspan="19"><%= simple_format(@character.goblin_contracts) %></td>
        </tr>
        <tr>
          <td>Mirror</td>
          <td><%= @character.mirror %></td>
        </tr>
        <tr>
          <td>Smoke</td>
          <td><%= @character.smoke %></td>
        </tr>
        <tr>
          <td>Artifice</td>
          <td><%= @character.artifice %></td>
        </tr>
        <tr>
          <td>Darkness</td>
          <td><%= @character.darkness %></td>
        </tr>
        <tr>
          <td>Elements</td>
          <td><%= @character.elements %></td>
        </tr>
        <tr>
          <td>Fang and Tooth</td>
          <td><%= @character.fang_and_tooth %></td>
        </tr>
        <tr>
          <td>Stone</td>
          <td><%= @character.stone %></td>
        </tr>
        <tr>
          <td>Vainglory</td>
          <td><%= @character.vainglory %></td>
        </tr>
        <tr>
          <td>Fleeting Spring</td>
          <td><%= @character.fleeting_spring %></td>
        </tr>
        <tr>
          <td>Eternal Spring</td>
          <td><%= @character.eternal_spring %></td>
        </tr>
        <tr>
          <td>Fleeting Summer</td>
          <td><%= @character.fleeting_summer %></td>
        </tr>
        <tr>
          <td>Eternal Summer</td>
          <td><%= @character.eternal_summer %></td>
        </tr>
        <tr>
          <td>Eternal Summer</td>
          <td><%= @character.eternal_summer %></td>
        </tr>
        <tr>
          <td>Fleeting Autumn</td>
          <td><%= @character.fleeting_autumn %></td>
        </tr>
        <tr>
          <td>Eternal Autumn</td>
          <td><%= @character.eternal_autumn %></td>
        </tr>
        <tr>
          <td>Fleeting Winter</td>
          <td><%= @character.fleeting_winter %></td>
        </tr>
        <tr>
          <td>Eternal Winter</td>
          <td><%= @character.eternal_winter %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>
    
    <% if @character.is_geist? %>
      <h3>Manifestations</h3>
      <table class="three_cells">
        <tr>
          <td>Boneyard</td>
          <td><%= @character.boneyard %></td>
          <td>Keys</td>
        </tr>
        <tr>
          <td>Caul</td>
          <td><%= @character.caul %></td>
          <td rowspan="7"><%= simple_format(@character.keys) %></td>
        </tr>
        <tr>
          <td>Curse</td>
          <td><%= @character.curse %></td>
        </tr>
        <tr>
          <td>Marionette</td>
          <td><%= @character.marionette %></td>
        </tr>
        <tr>
          <td>Oracle</td>
          <td><%= @character.oracle %></td>
        </tr>
        <tr>
          <td>Rage</td>
          <td><%= @character.rage %></td>
        </tr>
        <tr>
          <td>Shroud</td>
          <td><%= @character.shroud %></td>
        </tr>
        <tr>
        </tr>
      </table>
      
      <h3>Ceremonies</h3>
      <p><%= simple_format(@character.ceremonies) %></p>
    <% end %>
  </div>
<% end %>

<% if @character.show_experience_to_user?(current_user.id) %>
  <div id="experience">
    <h3>Experience</h3>
    <%= simple_format(@character.experience) %>
  </div>
<% end %>

<% if @character.show_notes_to_user?(current_user.id) %>
  <div id="notes">
    <h3>Notes</h3>
    <%= form_for(@character, :remote => true) do |f| %>
      <%= f.text_area :notes %>
      <%= f.submit "Save notes" %>
    <% end %>
  </div>
<% end %>

<%= render :partial => 'comments' %><br />

<%= link_to("Toggle preview", {:action => :preview, :id => @character.id}, :remote => true) + " | " if @character.can_edit_as_user?(current_user.id) %>
<%= link_to('Edit', edit_character_path(@character)) + " | " if @character.can_edit_as_user?(current_user.id)%>
<%= link_to 'Destroy', @character, :confirm => 'Are you sure you want to delete this character?', :method => :delete if @character.can_destroy_as_user?(current_user.id) %>
