<table class="four_cells">
  <tr>
    <td><b>Name</b></td>
    <td colspan=3><%= @character.name %></td>
  </tr>
  <tr>
    <td><b>Concept</b></td>
    <td colspan=3><%= @character.concept %></td>
  </tr>
  <tr>
    <td><b>Chronicle</b></td>
    <td><%= link_to @character.chronicle.name, @character.chronicle %></td>
    <td><span id="nature_label"><b><%= @character.splat.nature_name if @character.show_nature_to_user?(current_user) %></b></span></td>
    <td><span id="nature_name"><%= link_to @character.nature.name, @character.nature if @character.show_nature_to_user?(current_user) %></span></td>
  </tr>
  <tr>
    <td><b>Virtue</b></td>
    <td ><span id="virtue"><%= @character.virtue %></span></td>
    <td><span id="subnature_label"><b><%= @character.splat.subnature_name if @character.splat.name == "Changeling" and @character.show_nature_to_user?(current_user) %></b></span></td>
    <td><span id="subnature_name"><%= @character.subnature.name if @character.splat.name == "Changeling" and @character.show_nature_to_user?(current_user) %></span></td>
  </tr>
  <tr>
    <td><b>Vice</b></td>
    <td><span id="vice"><%= @character.vice.gsub(/\ /, " and ") %></span></td>
    <td><span id="ideology_label"><b><%= @character.splat.ideology_name if @character.show_ideology_to_user?(current_user) %></b></span></td>
    <td><span id="ideology_name"><%= link_to @character.ideology.name, @character.ideology if @character.show_ideology_to_user?(current_user) %></span></td>
  </tr>
  <tr>
    <% if @character.is_possessed? %>
      <td><b>Primary Vice</b></td>
      <td><%= @character.primary_vice %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
    <td><span id="clique_label"><b><%= @character.splat.clique_name if @character.show_clique_to_user?(current_user) %></b></span></td>
    <td><span id="clique_name"><%= link_to @character.clique.name, chronicle_clique_path(@character.chronicle, @character.clique) if @character.show_clique_to_user?(current_user) %></span></td>
  </tr>
</table>

<% if @character.show_description_to_user?(current_user) %>
  <div id="description">
    <h3 class="<%= @character.splat.name.downcase %>">Description</h3>
    <%= simple_format(@character.description) %>
  </div>
<% end %>

<% if @character.show_background_to_user?(current_user) %>
  <div id="background">
    <h3 class="<%= @character.splat.name.downcase %>">Background</h3>
    <%= simple_format(@character.background) %>
  </div>
<% end %>

<% if @character.show_deeds_to_user?(current_user) %>
  <div id="deeds">
    <h3 class="<%= @character.splat.name.downcase %>">Deeds</h3>
    <%= simple_format(@character.deeds) %>
  </div>
<% end %>

<% if @character.show_crunch_to_user?(current_user) %>
  <div id="attributes">
    <h3 class="<%= @character.splat.name.downcase %>">Attributes</h3>
    <table class="six_cells">
      <tr>
        <td>Intelligence:</td>
        <td><%= dot_format(@character.intelligence) %></td>
        <td>Strength:</td>
        <td id="strength"><%= dot_format(@character.strength) %></td>
        <td>Presence:</td>
        <td><%= dot_format(@character.presence) %></td>
      </tr>
      <tr>
        <td>Wits:</td>
        <td><%= dot_format(@character.wits) %></td>
        <td>Dexterity:</td>
        <td id="dexterity"><%= dot_format(@character.dexterity) %></td>
        <td>Manipulation:</td>
        <td id="manipulation"><%= dot_format(@character.manipulation) %></td>
      </tr>
      <tr>
        <td>Resolve:</td>
        <td><%= dot_format(@character.resolve) %></td>
        <td>Stamina:</td>
        <td id="stamina"><%= dot_format(@character.stamina) %></td>
        <td>Composure:</td>
        <td><%= dot_format(@character.composure) %></td>
      </tr>
    </table>
  </div>

  <div id="skills">
    <h3 class="<%= @character.splat.name.downcase %>">Skills</h3>
    <table class="six_cells">
      <tr>
        <td>Academics:</td>
        <td><%= dot_format(@character.academics) %></td>
        <td>Athletics:</td>
        <td><%= dot_format(@character.athletics) %></td>
        <td>Animal Ken:</td>
        <td><%= dot_format(@character.animal_ken) %></td>
      </tr>
      <tr>
        <td>Computer:</td>
        <td><%= dot_format(@character.computer) %></td>
        <td>Brawl:</td>
        <td><%= dot_format(@character.brawl) %></td>
        <td>Empathy:</td>
        <td><%= dot_format(@character.empathy) %></td>
      </tr>
      <tr>
        <td>Crafts:</td>
        <td><%= dot_format(@character.crafts) %></td>
        <td>Drive:</td>
        <td><%= dot_format(@character.drive) %></td>
        <td>Expression:</td>
        <td><%= dot_format(@character.expression) %></td>
      </tr>
      <tr>
        <td>Investigation:</td>
        <td><%= dot_format(@character.investigation) %></td>
        <td>Firearms:</td>
        <td><%= dot_format(@character.firearms) %></td>
        <td>Intimidation:</td>
        <td><%= dot_format(@character.intimidation) %></td>
      </tr>
      <tr>
        <td>Medicine:</td>
        <td><%= dot_format(@character.medicine) %></td>
        <td>Larceny:</td>
        <td><%= dot_format(@character.larceny) %></td>
        <td>Persuasion:</td>
        <td><%= dot_format(@character.persuasion) %></td>
      </tr>
      <tr>
        <td>Occult:</td>
        <td><%= dot_format(@character.occult) %></td>
        <td>Stealth:</td>
        <td><%= dot_format(@character.stealth) %></td>
        <td>Socialize:</td>
        <td><%= dot_format(@character.socialize) %></td>
      </tr>
      <tr>
        <td>Politics:</td>
        <td><%= dot_format(@character.politics) %></td>
        <td>Survival:</td>
        <td><%= dot_format(@character.survival) %></td>
        <td>Streetwise:</td>
        <td><%= dot_format(@character.streetwise) %></td>
      </tr>
      <tr>
        <td>Science:</td>
        <td><%= dot_format(@character.science) %></td>
        <td>Weaponry:</td>
        <td><%= dot_format(@character.weaponry) %></td>
        <td>Subterfuge:</td>
        <td><%= dot_format(@character.subterfuge) %></td>
      </tr>
      <tr>
        <td>Skill Specialties:</td>
        <td colspan=5><%= simple_format(@character.skill_specialties) %></td>
      </tr>
    </table>
  </div>

  <div id="advantages">    
    <h3 class="<%= @character.splat.name.downcase %>">Advantages</h3>
    <table class="four_cells">
      <tr>
        <td>Health:</td>
        <td id="health"><%= dot_format(@character.health) %></td>
        <td>Willpower:</td>
        <td id="willpower"><%= dot_format(@character.willpower) %></td>
      </tr>
      <tr>
        <% if can? :edit, @character %>
        	<%= form_for([@character.chronicle, @character]) do |f| %>
            <td><%= f.label :current_health, "Current Health:" %></td>
            <td><%= f.text_field :current_health, :remote => true, :action => url_for(:action => :save_current, :id => @character.id), :method => "put" %></td>
            <td><%= f.label :current_willpower, "Current Willpower:" %></td>
            <td><%= f.text_field :current_willpower, :remote => true, :action => url_for(:action => :save_current, :id => @character.id), :method => "put" %></td>
          <% end %>
        <% else %>
          <td>Current Health:</td>
          <td><%= @character.current_health %></td>
          <td>Current Willpower:</td>
          <td><%= @character.current_willpower %></td>
        <% end %>
      </tr>
      <tr>
        <td>Size:</td>
        <td id="size"><%= @character.size %></td>
        <% if @character.is_possessed? %>
          <td>Infernal Will:</td>
          <td id="infernal_will"><%= dot_format(@character.max_infernal_will) %></td>
        <% end %>
      </tr>
      <tr>
        <td>Initiative:</td>
        <td id="initiative"><%= @character.initiative %></td>
        <% if can? :edit, @character %>
          <%= form_for(@character) do |f| %>
            <td><%= f.label :current_infernal_will, "Current Infernal Will:" %></td>
            <td><%= f.text_field :current_infernal_will, :remote => true, :action => url_for(:action => :save_current, :id => @character.id), :method => "put" %></td>
          <% end %>
        <% else %>
          <td>Current Infernal Will:</td>
          <td><%= @character.current_infernal_will %></td>
        <% end if @character.is_possessed? %>
      </tr>
      <tr>
        <td>Speed:</td>
        <td id="speed"><%= @character.speed %></td>
        <td>Derangements:</td>
      </tr>
      <tr>
        <td>Defense:</td>
        <td id="defense"><%= @character.defense %></td>
        <td rowspan="10" colspan="2"><%= simple_format(@character.derangements) %></td>
      </tr>
      <tr>
        <td>Armor:</td>
        <td id="armor"><%= @character.armor %></td>
      </tr>
      <tr>
        <td><%= @character.splat.morality_name %>:</td>
        <td><%= @character.morality %></td>
      </tr>
      <% unless @character.is_mortal? %>
      <tr>
        <td><%= @character.splat.power_stat_name %>:</td>
        <td><%= @character.power_stat %></td>
      </tr>
      <tr>
        <td>Max <%= @character.splat.fuel_name %>:</td>
        <td><%= @character.max_fuel %></td>
      </tr>
      <tr>
        <% if can? :edit, @character %>
          <%= form_for([@character.chronicle, @character]) do |f| %>
            <td><%= f.label :current_fuel, "Current #{@character.splat.fuel_name}:" %></td>
            <td><%= f.text_field :current_fuel, :class => "number", :remote => true, :action => url_for(:action => "save_current", :id => @character.id), :method => "put" %></td>
          <% end %>
        <% else %>
          <td>Current <%= @character.splat.fuel_name %>:</td>
          <td><%= @character.current_fuel %></td>
        <% end %>
      </tr>
      <tr>
      </tr>
      <% end %>
    </table>
  </div>

  <div id="merits">    
    <h3 class="<%= @character.splat.name.downcase %>">Merits</h3>
    <%= simple_format(@character.merits) %>
  </div>

  <div id="equipment">
    <h3 class="<%= @character.splat.name.downcase %>">Equipment</h3>
    <%= simple_format(@character.equipment) %>
  </div>

  <div id="powers">
    <% if @character.is_mage? %>
      <h3 class="<%= @character.splat.name.downcase %>">Arcana</h3>
      <table class="three_cells">
        <tr>
          <td>Death:</td>
          <td><%= dot_format(@character.death) %></td>
          <td>Common Spells</td>
        </tr>
        <tr>
          <td>Fate:</td>
          <td><%= dot_format(@character.fate) %></td>
          <td rowspan="10"><%= simple_format(@character.common_spells) %></td>
        </tr>
        <tr>
          <td>Forces:</td>
          <td><%= dot_format(@character.forces) %></td>
        </tr>
        <tr>
          <td>Life:</td>
          <td><%= dot_format(@character.life) %></td>
        </tr>
        <tr>
          <td>Matter:</td>
          <td><%= dot_format(@character.matter) %></td>
        </tr>
        <tr>
          <td>Mind:</td>
          <td><%= dot_format(@character.mind) %></td>
        </tr>
        <tr>
          <td>Prime:</td>
          <td><%= dot_format(@character.prime) %></td>
        </tr>
        <tr>
          <td>Space:</td>
          <td><%= dot_format(@character.space) %></td>
        </tr>
        <tr>
          <td>Spirit:</td>
          <td><%= dot_format(@character.spirit) %></td>
        </tr>
        <tr>
          <td>Time:</td>
          <td><%= dot_format(@character.time) %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>
  
    <% if @character.is_werewolf? %>
      <h3 class="<%= @character.splat.name.downcase %>">Forms</h3>
        <table id="woof_forms" class="five_cells">
          <tr>
	    <th><%= link_to "Hishu", shapeshift_chronicle_character_path(:form => "hishu"), :remote => true, :class => "selected" %></th>
	    <th><%= link_to "Dalu", shapeshift_chronicle_character_path(:form => "dalu"), :remote => true %></th>
	    <th><%= link_to "Gauru", shapeshift_chronicle_character_path(:form => "gauru"), :remote => true %></th>
	    <th><%= link_to "Urshul", shapeshift_chronicle_character_path(:form => "urshul"), :remote => true %></th>
	    <th><%= link_to "Urhan", shapeshift_chronicle_character_path(:form => "urhan"), :remote => true %></th>
          </tr>
          <tr>
            <td></td>
            <td>Perception: +2</td>
            <td>Perception: +3</td>
            <td>Perception: +3</td>
            <td>Perception: +4</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>+2L bite</td>
            <td>+2L bite</td>
            <td>+2L bite</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>+1L claws</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Rage invoked</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      <h3 class="<%= @character.splat.name.downcase %>">Renown</h3>
      <table class="three_cells">
        <tr>
          <td>Purity:</td>
          <td><%= dot_format(@character.purity) %></td>
          <td>Gifts</td>
        </tr>
        <tr>
          <td>Glory:</td>
          <td><%= dot_format(@character.glory) %></td>
          <td id="gifts" rowspan="5"><%= simple_format(@character.gifts) %></td>
        </tr>
        <tr>
          <td>Honor:</td>
          <td><%= dot_format(@character.honor) %></td>
        </tr>
        <tr>
          <td>Wisdom:</td>
          <td><%= dot_format(@character.wisdom) %></td>
        </tr>
        <tr>
          <td>Cunning:</td>
          <td><%= dot_format(@character.cunning) %></td>
        </tr>
        <tr>
        </tr>
      </table>
      <h3 class="<%= @character.splat.name.downcase %>">Totem</h3>
      <%= simple_format(@character.clique.totem)%>
    <% end %>

    <% if @character.is_vampire? %>
      <h3 class="<%= @character.splat.name.downcase %>">Disciplines</h3>
      <table class="three_cells">
        <tr>
          <td>Animalism</td>
          <td><%= dot_format(@character.animalism) %></td>
          <td>Covenant Disciplines</td>
        </tr>
        <tr>
          <td>Auspex</td>
          <td><%= dot_format(@character.auspex) %></td>
          <td rowspan="8"><%= simple_format(@character.covenant_disciplines) %></td>
        </tr>
        <tr>
          <td>Dominate</td>
          <td><%= dot_format(@character.dominate) %></td>
        </tr>
        <tr>
          <td>Majesty</td>
          <td><%= dot_format(@character.majesty) %></td>
        </tr>
        <tr>
          <td>Nightmare</td>
          <td><%= dot_format(@character.nightmare) %></td>
        </tr>
        <tr>
          <td>Obfuscate</td>
          <td><%= dot_format(@character.obfuscate) %></td>
        </tr>
        <tr>
          <td>Protean</td>
          <td><%= dot_format(@character.protean) %></td>
        </tr>
        <tr>
          <td>Resilience</td>
          <td><%= dot_format(@character.resilience) %></td>
        </tr>
        <tr>
          <td>Vigor</td>
          <td><%= dot_format(@character.vigor) %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>

    <% if @character.is_promethean? %>
      <h3 class="<%= @character.splat.name.downcase %>">Transmutations</h3>
      <%= simple_format(@character.transmutations) %>
    <% end %>

    <% if @character.is_changeling? %>
      <h3 class="<%= @character.splat.name.downcase %>">Contracts</h3>
      <table class="three_cells">
                          <tr>
          <td>Dream</td>
          <td><%= dot_format(@character.dream) %></td>
          <td>Goblin Contracts</td>
        </tr>
        <tr>
          <td>Hearth</td>
          <td><%= dot_format(@character.hearth) %></td>
          <td rowspan="19"><%= simple_format(@character.goblin_contracts) %></td>
        </tr>
        <tr>
          <td>Mirror</td>
          <td><%= dot_format(@character.mirror) %></td>
        </tr>
        <tr>
          <td>Smoke</td>
          <td><%= dot_format(@character.smoke) %></td>
        </tr>
        <tr>
          <td>Artifice</td>
          <td><%= dot_format(@character.artifice) %></td>
        </tr>
        <tr>
          <td>Darkness</td>
          <td><%= dot_format(@character.darkness) %></td>
        </tr>
        <tr>
          <td>Elements</td>
          <td><%= dot_format(@character.elements) %></td>
        </tr>
        <tr>
          <td>Fang and Tooth</td>
          <td><%= dot_format(@character.fang_and_tooth) %></td>
        </tr>
        <tr>
          <td>Stone</td>
          <td><%= dot_format(@character.stone) %></td>
        </tr>
        <tr>
          <td>Vainglory</td>
          <td><%= dot_format(@character.vainglory) %></td>
        </tr>
        <tr>
          <td>Fleeting Spring</td>
          <td><%= dot_format(@character.fleeting_spring) %></td>
        </tr>
        <tr>
          <td>Eternal Spring</td>
          <td><%= dot_format(@character.eternal_spring) %></td>
        </tr>
        <tr>
          <td>Fleeting Summer</td>
          <td><%= dot_format(@character.fleeting_summer) %></td>
        </tr>
        <tr>
          <td>Eternal Summer</td>
          <td><%= dot_format(@character.eternal_summer) %></td>
        </tr>
        <tr>
          <td>Eternal Summer</td>
          <td><%= dot_format(@character.eternal_summer) %></td>
        </tr>
        <tr>
          <td>Fleeting Autumn</td>
          <td><%= dot_format(@character.fleeting_autumn) %></td>
        </tr>
        <tr>
          <td>Eternal Autumn</td>
          <td><%= dot_format(@character.eternal_autumn) %></td>
        </tr>
        <tr>
          <td>Fleeting Winter</td>
          <td><%= dot_format(@character.fleeting_winter) %></td>
        </tr>
        <tr>
          <td>Eternal Winter</td>
          <td><%= dot_format(@character.eternal_winter) %></td>
        </tr>
        <tr>
        </tr>
      </table>
    <% end %>
    
    <% if @character.is_hunter? %>
      <h3 class="<%= @character.splat.name.downcase %>">Tactics</h3>
      <%= simple_format(@character.tactics) %>
    <% end %>
    
    <% if @character.is_geist? %>
      <h3 class="<%= @character.splat.name.downcase %>">Manifestations</h3>
      <table class="three_cells">
        <tr>
          <td>Boneyard</td>
          <td><%= dot_format(@character.boneyard) %></td>
          <td>Keys</td>
        </tr>
        <tr>
          <td>Caul</td>
          <td><%= dot_format(@character.caul) %></td>
          <td rowspan="7"><%= simple_format(@character.keys) %></td>
        </tr>
        <tr>
          <td>Curse</td>
          <td><%= dot_format(@character.curse) %></td>
        </tr>
        <tr>
          <td>Marionette</td>
          <td><%= dot_format(@character.marionette) %></td>
        </tr>
        <tr>
          <td>Oracle</td>
          <td><%= dot_format(@character.oracle) %></td>
        </tr>
        <tr>
          <td>Rage</td>
          <td><%= dot_format(@character.rage) %></td>
        </tr>
        <tr>
          <td>Shroud</td>
          <td><%= dot_format(@character.shroud) %></td>
        </tr>
        <tr>
        </tr>
      </table>
      
      <h3 class="<%= @character.splat.name.downcase %>">Ceremonies</h3>
      <p><%= simple_format(@character.ceremonies) %></p>
    <% end %>
    
    <% if @character.is_possessed? %>
      <h3 class="<%= @character.splat.name.downcase %>">Vestments</h3>
      <table class="three_cells">
        <tr>
          <td>Envy</td>
          <td><%= dot_format(@character.envy) %></td>
          <td>Vestments</td>
        </tr>
        <tr>
          <td>Gluttony</td>
          <td><%= dot_format(@character.gluttony) %></td>
          <td rowspan="7"><%= simple_format(@character.vestments) %></td>
        </tr>
        <tr>
          <td>Greed</td>
          <td><%= dot_format(@character.greed) %></td>
        </tr>
        <tr>
          <td>Lust</td>
          <td><%= dot_format(@character.lust) %></td>
        </tr>
        <tr>
          <td>Pride</td>
          <td><%= dot_format(@character.pride) %></td>
        </tr>
        <tr>
          <td>Sloth</td>
          <td><%= dot_format(@character.sloth) %></td>
        </tr>
        <tr>
          <td>Wrath</td>
          <td><%= dot_format(@character.wrath) %></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>

<% if @character.show_experience_to_user?(current_user) %>
  <div id="experience">
    <h3 class="<%= @character.splat.name.downcase %>">Experience</h3>
    <%= simple_format(@character.experience) %>
  </div>
<% end %>

<% if @character.show_notes_to_user?(current_user) %>
  <div id="notes">
    <h3 class="<%= @character.splat.name.downcase %>">Notes</h3>
    <%= form_for([@character.chronicle, @character], :remote => true, :method => :put, :url => save_notes_chronicle_character_url) do |f| %>
      <%= f.text_area :notes %>
      <%= f.submit "Save notes", :id => "save_notes" if can? :edit, @character %>
    <% end %>
  </div>
<% end %>

<%= render :partial => 'comments' %><br />

<%= link_to("Toggle preview", preview_chronicle_character_path(@character.chronicle, @character), :remote => true) if can? :edit, @character %>
<% if can? :edit, @character %>
  | <%= link_to('Edit', edit_chronicle_character_path(@character.chronicle, @character)) %>
<% end %>
<% if can? :destroy, @character %>
  | <%= link_to('Destroy', {:chronicle_id => @character.chronicle, :id => @character}, :confirm => "Are you sure you want to delete #{@character.name}?", :method => :delete) %>
<% end %>
