<% if show_character?(@character) %>
	<fieldset>
		<table>
			<tr>
				<td><b>Name:</b></td>
				<td><%=h @character.name %></td>
			<tr>
				<td><b>Virtue:</b></td>
				<td><%=h @character.virtue if own_character?(@character) %></td>
			</tr>
			<tr>
				<td><b>Vice:</b></td>
				<td><%=h @character.vice if own_character?(@character) %></td>
			    <% unless is_mortal?(@character) %>
				<td><b><%=h @character.splat.nature_name if show_nature?(@character) %>:</b></td>
				<td><%=h @character.nature.name if show_nature?(@character) %>
			    <% end %>
			</tr>
			<tr>
				<td><b><%=h @character.splat.clique_name if show_clique?(@character) %>:</b></td>
				<td><%= link_to (h @character.clique.name), @character.clique if show_clique?(@character) %></td>
			    <% unless is_mortal?(@character) %>
				<td><b><%=h @character.splat.ideology_name if show_ideology?(@character) %>:</b></td>
				<td><%= link_to (h @character.ideology.name), @character.ideology if show_ideology?(@character) %></td>
			    <% end %>
			</tr>
		</table>
	</fieldset>

	<% if show_description?(@character) %>
		<fieldset>
		  <legend>Description</legend>
		  <%= simple_format(@character.description) %>
		</fieldset>
	<% end %>

	<% if show_background?(@character) %>
		<fieldset>
		  <legend>Background</legend>
		  <%= simple_format(@character.background) %>
		</fieldset>
	<% end %>

	<% if show_attributes?(@character) %>
		<fieldset>
			<legend>Attributes</legend>
			<table>
				<tr>
					<td>Intelligence:</td>
					<td><%=h @character.intelligence %></td>
					<td>Strength:</td>
					<td><%=h @character.strength %></td>
					<td>Presence:</td>
					<td><%=h @character.presence %></td>
				</tr>
				<tr>
					<td>Wits:</td>
					<td><%=h @character.wits %></td>
					<td>Dexterity:</td>
					<td><%=h @character.dexterity %></td>
					<td>Manipulation:</td>
					<td><%=h @character.manipulation %></td>
				</tr>
				<tr>
					<td>Resolve:</td>
					<td><%=h @character.resolve %></td>
					<td>Stamina:</td>
					<td><%=h @character.stamina %></td>
					<td>Composure:</td>
					<td><%=h @character.composure %></td>
				</tr>
			</table>
		</fieldset>
	<% end %>

	<% if show_skills?(@character) %>
		<fieldset>
			<legend>Skills</legend>
			<table>
				<tr>
					<td>Academics:</td>
					<td><%=h @character.academics %></td>
					<td>Athletics:</td>
					<td><%=h @character.athletics %></td>
					<td>Animal Ken:</td>
					<td><%=h @character.animal_ken %></td>
				</tr>
				<tr>
					<td>Computer:</td>
					<td><%=h @character.computer %></td>
					<td>Brawl:</td>
					<td><%=h @character.brawl %></td>
					<td>Empathy:</td>
					<td><%=h @character.empathy %></td>
				</tr>
				<tr>
					<td>Crafts:</td>
					<td><%=h @character.crafts %></td>
					<td>Drive:</td>
					<td><%=h @character.drive %></td>
					<td>Expression:</td>
					<td><%=h @character.expression %></td>
				</tr>
				<tr>
					<td>Investigation:</td>
					<td><%=h @character.investigation %></td>
					<td>Firearms:</td>
					<td><%=h @character.firearms %></td>
					<td>Intimidation:</td>
					<td><%=h @character.intimidation %></td>
				</tr>
					<td>Medicine:</td>
					<td><%=h @character.medicine %></td>
					<td>Larceny:</td>
					<td><%=h @character.larceny %></td>
					<td>Persuasion:</td>
					<td><%=h @character.persuasion %></td>
				</tr>
					<td>Occult:</td>
					<td><%=h @character.occult %></td>
					<td>Stealth:</td>
					<td><%=h @character.stealth %></td>
					<td>Socialize:</td>
					<td><%=h @character.socialize %></td>
				</tr>
					<td>Politics:</td>
					<td><%=h @character.politics %></td>
					<td>Survival:</td>
					<td><%=h @character.survival %></td>
					<td>Streetwise:</td>
					<td><%=h @character.streetwise %></td>
				</tr>
					<td>Science:</td>
					<td><%=h @character.science %></td>
					<td>Weaponry:</td>
					<td><%=h @character.weaponry %></td>
					<td>Subterfuge:</td>
					<td><%=h @character.subterfuge %></td>
				</tr>
				<tr>
					<td>Skill Specialties:</td>
					<td colspan=5><%= simple_format(@character.skill_specialties) %></td>
				</tr>
				<tr>
					<td>Speed:</td>
					<td><%=h @character.speed %></td>
				</tr>
				<tr>
					<td>Initiative:</td>
					<td><%=h @character.initiative %></td>
				</tr>
				<tr>
					<td>Defense:</td>
					<td><%=h @character.defense %></td>
				</tr>
			</table>
		</fieldset>
	<% end %>

	<% if show_advantages?(@character) %>
		<fieldset>
			<legend>Advantages</legend>
			<table>
				<tr>
					<td>Health:</td>
					<td><%=h @character.health %></td>
					<td>Derangements:</td>
				</tr>
				<tr>
					<td>Willpower:</td>
					<td><%=h @character.willpower %></td>
					<td rowspan=4><%= simple_format(@character.derangements) %></td>
				</tr>
				<tr>
					<td>Armor:</td>
					<td><%=h @character.armor %></td>
				</tr>
				<tr>
					<td><%=h @character.splat.morality_name %>:</td>
					<td><%=h @character.morality %></td>
				</tr>
			    <% unless is_mortal?(@character) %>
				<tr>
					<td><%=h @character.splat.power_stat_name %>:</td>
					<td><%=h @character.power_stat %></td>
				</tr>
				<tr>
					<td><%=h @character.splat.fuel_name %>:</td>
					<td><%=h @character.fuel %></td>
				</tr>
			    <% end %>
			</table>
		</fieldset>
	<% end %>

	<% if show_merits?(@character) %>
		<fieldset>
		  <legend>Merits</legend>
		  <%= simple_format(@character.merits) %>
		</fieldset>
	<% end %>

	<% if show_equipment?(@character) %>
		<fieldset>
		  <legend>Equipment</legend>
		  <%= simple_format(@character.equipment) %>
		</fieldset>
	<% end %>

	<% if show_powers?(@character) %>
		<% if is_mage?(@character) %>
			<fieldset>
				<legend>Arcana</legend>
				<table>
					<tr>
						<td>Death:</td>
						<td><%=h @character.death %></td>
						<td>Common Spells</td>
					</tr>
					<tr>
						<td>Fate:</td>
						<td><%=h @character.fate %></td>
						<td rowspan=9><%= simple_format(@character.common_spells) %></td>
					</tr>
					<tr>
						<td>Forces:</td>
						<td><%=h @character.forces %></td>
					</tr>
					<tr>
						<td>Life:</td>
						<td><%=h @character.life %></td>
					</tr>
					<tr>
						<td>Matter:</td>
						<td><%=h @character.matter %></td>
					</tr>
					<tr>
						<td>Mind:</td>
						<td><%=h @character.mind %></td>
					</tr>
					<tr>
						<td>Prime:</td>
						<td><%=h @character.prime %></td>
					</tr>
					<tr>
						<td>Space:</td>
						<td><%=h @character.space %></td>
					</tr>
					<tr>
						<td>Spirit:</td>
						<td><%=h @character.spirit %></td>
					</tr>
					<tr>
						<td>Time:</td>
						<td><%=h @character.time %></td>
					</tr>
				</table>
			</fieldset>
		<% end %>
		
		<% if is_werewolf?(@character) %>
			<fieldset>
				<legend>Renown</legend>
				<table>
					<tr>
						<td>Purity:</td>
						<td><%=h @character.purity %></td>
						<td>Gifts</td>
					</tr>
					<tr>
						<td>Glory:</td>
						<td><%=h @character.glory %></td>
						<td rowspan=4><%= simple_format(@character.gifts) %></td>
					</tr>
					<tr>
						<td>Honor:</td>
						<td><%=h @character.honor %></td>
					</tr>
					<tr>
						<td>Wisdom:</td>
						<td><%=h @character.wisdom %></td>
					</tr>
					<tr>
						<td>Cunning:</td>
						<td><%=h @character.cunning %></td>
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<legend>Totem</legend>
				<%= simple_format(@character.totem)%>
			</fieldset>
		<% end %>

		<% if is_vampire?(@character) %>
			<fieldset>
				<legend>Disciplines</legend>
				<table>
					<tr>
						<td>Animalism</td>
						<td><%=h @character.animalism %></td>
						<td>Covenant Disciplines</td>
					</tr>
					<tr>
						<td>Auspex</td>
						<td><%=h @character.auspex %></td>
						<td rowspan=8><%= simple_format(@character.covenant_disciplines) %></td>
					</tr>
					<tr>
						<td>Dominate</td>
						<td><%=h @character.dominate %></td>
					</tr>
					<tr>
						<td>Majesty</td>
						<td><%=h @character.majesty %></td>
					</tr>
					<tr>
						<td>Nightmare</td>
						<td><%=h @character.nightmare %></td>
					</tr>
					<tr>
						<td>Protean</td>
						<td><%=h @character.protean %></td>
					</tr>
					<tr>
						<td>Obfuscate</td>
						<td><%=h @character.obfuscate %></td>
					</tr>
					<tr>
						<td>Vigor</td>
						<td><%=h @character.vigor %></td>
					</tr>
				</table>
			</fieldset>
		<% end %>
	<% end %>
	
	<% if show_experience?(@character) %>
		<fieldset>
			<legend>Experience</legend>
			<%= simple_format(@character.experience) %>
		</fieldset>
	<% end %>
	
	<%= render :partial => 'comments' %>

	<%= link_to 'Show as other user', :action => 'show_as_other', :id => @character if edit_character?(@character) %><br />
	
	<%= link_to 'Back', character_path(@character) %>
	<%= link_to 'Edit', edit_character_path(@character) if edit_character?(@character)%>
	<%= link_to 'Destroy', @character, :confirm => 'Are you sure you want to delete this character?', :method => :delete if edit_character?(@character) %>
<% else %>
	<% flash[:notice] = "You can't see this character" %>
<% end %>
