<%= form_for(@chronicle) do |f| %>
  <% if @chronicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chronicle.errors.count, "error") %> prohibited this chronicle from being saved:</h2>

      <ul>
      <% @chronicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Name</h3>
  <%= f.text_field :name %>
  
  <% unless @campaigns.nil? %>
    <h3>Obsidian Portal Link</h3>
    <%= f.select :obsidian_campaign_id, @campaigns %>
  <% end %>
  
  <h3>Storyteller</h3>
  <%= f.select :owner_id, options_from_collection_for_select(@users, :id, :name) %>
  
  <h3>Description</h3>
  <%= f.text_area :description %>
  
  <%= f.submit "Save" %>
<% end %>
