<h5>Name</h5>
<%= @chronicle.name %>

<h5>Description</h5>
<%= simple_format(@chronicle.description) %>

<table class="list">
  <tbody>
    <tr>
      <th></th>
      <th>PC Name</th>
      <th>Concept</th>
      <th>Clique</th>
      <th></th>
    </tr>
  </tbody>

  <tbody id="pcs_list">
    <%= render :partial => 'characters/character', :collection => @chronicle.pcs %>
  </tbody>

  <tbody>
    <tr>
      <th></th>
      <th>NPC Name</th>
      <th>Concept</th>
      <th>Clique</th>
      <th></th>
    </tr>
  </tbody>

  <tbody id="npcs_list">
    <%= render :partial => 'characters/character', :collection => @chronicle.npcs %>
  </tbody>
</table>

<h5>Cliques</h5>
<%= render :partial => 'cliques/list' %>

<br />
<%= link_to('New character', new_chronicle_character_path(:chronicle_id => @chronicle.id)) if can? :create, Character %>
<% if can? :edit, @chronicle %>
  | <%= link_to('Edit', edit_chronicle_path(@chronicle)) %>
<% end %>
<% if can? :destroy, @chronicle %>
  | <%= link_to('Destroy', @chronicle, :confirm => 'Are you sure you want to delete this chronicle?', :method => :delete) %>
<% end %>
