<h3>Name</h3>
<%= @chronicle.name %>

<h3>Description</h3>
<%= simple_format(@chronicle.description) %>

<h3>Characters</h3>
<%= render :partial => 'characters/list' %>

<h3>Cliques</h3>
<%= render :partial => 'cliques/list' %>

<br />
<%= link_to 'Edit', edit_chronicle_path(@chronicle) %>
