<div id='dice_roller' class='span2 offset11'>
	<%= form_tag roll_chronicle_character_url, :remote => true do %>
	  <%= text_field_tag :dice_count, '', :autocomplete => :off %><br />
	  <%= label_tag :reroll_10, "Reroll tens", :class => "checkbox inline" %> <%= radio_button_tag :reroll, "10", :checked => true %><br />
	  <%= label_tag :reroll_9, "Reroll nines", :class => "checkbox inline" %> <%= radio_button_tag :reroll, "9" %><br />
	  <%= label_tag :reroll_8, "Reroll eights", :class => "checkbox inline" %> <%= radio_button_tag :reroll, "8" %><br />
	  <%= label_tag :reroll_rote, "Rote", :class => "checkbox inline" %> <%= radio_button_tag :reroll, "rote" %><br />
	  <%= label_tag :cancel, "Ones cancel", :class => "checkbox inline" %> <%= check_box_tag :cancel %><br />
	  <%= submit_tag "Roll dice" %>
	<% end %>
	
  <div id="results">
    <div id="successes"></div>
    <div id="dice_results"></div>
  </div>
</div>
