<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    <%= case params[:controller]
      when "chronicles" then @chronicle.name + " : " if @chronicle and @chronicle.name
      when "characters" then @character.name + " : " if @character and @character.name
      when "cliques" then @clique.name + " : " if @clique and @clique.name
      when "ideologies" then @ideology.name + " : " if @ideology and @ideology.name
      when "ideologies" then @nature.name + " : " if @nature and @nature.name
    end %>
    Infinite Personae
  </title>

  <%= stylesheet_link_tag :bootstrap %>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag %>
</head>
<body>
	
	<div id='navbar' class='navbar navbar-inverse'>
		<div class='navbar-inner'>
			<ul class='nav'>
				<li><%= link_to "Infinite Personae", root_path, :class => :brand %></li>
				<%= render 'layouts/chronicle_select' %>
				<%= li_active_if(params[:controller] == 'characters') do %>
					<%= link_to 'Characters', chronicle_characters_path(Chronicle.find(@selected_chronicle.id)) %>
				<% end %>
				<%= li_active_if(params[:controller] == 'cliques') do %>
					<%= link_to 'Cliques', chronicle_cliques_path(Chronicle.find(@selected_chronicle.id)) %>
				<% end %>
				<%= li_active_if(params[:controller] == 'ideologies') do %>
					<%= link_to 'Ideologies', ideologies_path %>
				<% end %>
				<%= li_active_if(params[:chronicle] == 'chronicles') do %>
					<%= link_to "Chronicles", chronicles_path %>
				<% end %>
				<li class='dropdown'>
					<% if user_signed_in? %>
						<a href='#' class='dropdown-toggle' data-toggle='dropdown'>
							<%= current_user.name %>
						<b class='carat'></b>
						</a>
						<ul class='dropdown-menu'>
							<li><%= link_to "Edit account", edit_user_registration_path %></li>
							<% if current_user.admin? %>
								<li><%= link_to "Manage admins", manage_admins_path %></li>
							<% end %>
							<li><%= link_to "Log out", destroy_user_session_path %></li>
						</ul>
					<% else %>
						<%= link_to "Log in", new_user_session_path %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
	
	<div class='container'>
		<div id="content" class='span10'>
		    <div id="notice"><%= flash[:notice] %></div>
		    <div id="alert"><%= alert %></div>
		    <%= yield %>
		</div>
		
		<%= render 'layouts/dice_roller' if params[:controller] == 'characters' and params[:action] == 'show' %>
	</div>

</body>
</html>
