<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>
		City of Darkness
		<% if @character %>
			: <%= @character.name %>
		<% elsif @clique %>
			: <%= @clique.name %>
		<% elsif @ideology %>
			: <%= @ideology.name %>
		<% end %>
	</title>

	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag 'custom' %>
</head>
<body>

<div id="column">
	<div id="header">
		<h1>City of Darkness</h1>
		
		<ul class="menu">
			<li><%= link_to "Characters", :controller => :characters %></li>
			<li><%= link_to "Cliques", :controller => :cliques %></li>
			<li><%= link_to "Ideologies", :controller => :ideologies %></li>
			<li><%= link_to "Account", :controller => :users, :action => :show, :id => session[:user_id] %></li>
			<% if session[:user_id] == :logged_out or session[:user_id] == nil %>
				<li><%= link_to "Log in", :controller =>  :admin, :action => :login %></li>
			<% else %>
				<li><%= link_to "Log out", :controller => :admin, :action => :logout %></li>
			<% end %>
		</ul>
	</div>
	
	<div id="content">
		<div id="notice"><%= flash[:notice] %></div>
		<%= yield %>
	</div>
</div>

</body>
</html>
