<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>
		City of Darkness
		<%= case params[:controller]
			when "characters" then " : " + @character.name if @character.name
			when "cliques" then " : " + @clique.name if @clique.name
			when "ideologies" then " : " + @ideology.name if @ideology.name
		end %>
	</title>

	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag 'custom' %>
</head>
<body>

<div id="column">
	<div id="header">
		<h1>City of Darkness</h1>
		
		<ul class="menu">
			<li <%= 'class="selected"' if params[:controller] == "characters" %> ><%= link_to "Characters", :controller => :characters %></li>
			<li <%= 'class="selected"' if params[:controller] == "cliques" %> ><%= link_to "Cliques", :controller => :cliques %></li>
			<li <%= 'class="selected"' if params[:controller] == "ideologies" %> ><%= link_to "Ideologies", :controller => :ideologies %></li>
			<li <%= 'class="selected"' if params[:controller] == "users" %> ><%= link_to "Account", :controller => :users, :action => :show, :id => session[:user_id] %></li>
			<% if session[:user_id] == :logged_out or session[:user_id] == nil %>
				<li <%= 'class="selected"' if params[:controller] == "admin" %> ><%= link_to "Log in", :controller =>  :admin, :action => :login %></li>
			<% else %>
				<li><%= link_to "Log out", :controller => :admin, :action => :logout %></li>
			<% end %>
		</ul>
	</div>
	
	<div id="content">
		<div id="notice"><%= flash[:notice] %></div>
		<%= yield %>
	</div>
</div>

</body>
</html>
