<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
	City of Darkness
	<% if @character %>
		: <%= @character.name %>
	<% elsif @clique %>
		: <%= @clique.name %>
	<% elsif @ideology %>
		: <%= @ideology.name %>
	<% end %>
  </title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'custom' %>
</head>
<body>

<div id="column">
	<div id="header">
		<h1>City of Darkness</h1>
		<b><%= link_to "Characters", :controller => :characters %></b>
		<b><%= link_to "Cliques", :controller => :cliques %></b>
		<b><%= link_to "Ideologies", :controller => :ideologies %></b>
		<b><%= link_to "Account", :controller => :users, :action => :show, :id => session[:user_id] %></b>
		<% if session[:user_id] == :logged_out %>
			<b><%= link_to "Log in", :controller =>  :admin, :action => :login %></b>
		<% else %>
			<b><%= link_to "Log out", :controller => :admin, :action => :logout %></b>
		<% end %>
	</div>
	
	<div class="content">
		<div id="notice"><%= flash[:notice] %></div>
		<%= yield %>
	</div>
</div>

</body>
</html>
